@font-face {
	font-family: 'AGENCYB';
	src: url('../fonts/AGENCYB.eot');
	src: local('AGENCYB'), url('../fonts/AGENCYB.woff') format('woff'), url('../fonts/AGENCYB.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5118">Text with this font applied</p> */
.fontsforweb_fontid_5118 {
	font-family: 'AGENCYB' !important;
}

/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'lucida';
	src: local('lucida'), url('../fonts/LUCON.TTF') format('truetype');
}

@font-face {
	font-family: 'gothic';
	src: url('../gothic.eot');
	src: local('gothic'), url('../gothic.woff') format('woff'), url('../gothic.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9785">Text with this font applied</p> */
.fontsforweb_fontid_9785 {
	font-family: 'gothic' !important;
}

/* Font downloaded from FontsForWeb.com */

@font-face {
	font-family: 'oet';
	src: local('oet'), url('../fonts/oet.ttf') format('truetype');
}