@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
.no_padding{padding: 0;}
.no_margin{margin: 0;}


img.displayed { display: block; margin-left: auto; margin-right: auto; background-color: transparent;}
.scroll-filter{background-color: rgba(0,0,0,0.5);} .intro-scroller { position: absolute; left: 0px; text-align: center; z-index: 9999;
width: 100%; bottom:20px; }
.intro-scroller p{color:#fff;}
.scroll-down{ background-color: #1E1E1E; width:100%; height:60px; position:center; text-align:center; }
.custom-scroll{ color:#fff; }
.mouse-icon { border: 2px solid; border-radius: 15px; bottom: 70px; height: 50px; left: 0; margin: 0 auto; position: absolute; right: 0;
width: 27px; cursor: pointer; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; }
.mouse-icon:hover {opacity: 0.3 !important;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}

body {  color: #292929; font-family: 'lucida';background: #292929;/*background: #C8C8C8 url("../images/bg-good.gif") repeat scroll 0% 0%;*/ }
::-moz-selection { background: #C8C8C8 url("../images/bg-good.gif") repeat scroll 0% 0%;color:#fff; }
::-webkit-selection {background: #C8C8C8; /*background: #C8C8C8 url("../images/bg-good.gif") repeat scroll 0% 0%;*/color:#fff; }
::selection { background: #292929;color:#fff;} 
html, body { height: 100%; }
a{color:#292929;text-decoration:none}
a:focus,a:hover{color:#313131;text-decoration:none;}
.img-portfolio { margin-bottom: 30px; }
.img-hover:hover { opacity: 0.8; }
.error-404 { font-size: 100px; }
.price { display: block; font-size: 50px; line-height: 50px;}
.price sup { top: -20px; left: 2px; font-size: 20px; }
.period { display: block; font-style: italic; }
footer { width:100%; display:block; color:#f7f7f7; }
@media(max-width:991px) {.customer-img, .img-related { margin-bottom: 30px; } }
@media(max-width:767px) {.img-portfolio { margin-bottom: 15px;} header.carousel .carousel { height: 70%; } }
.height-contact-element {margin:30px 0; color: #fff; text-transform: capitalize;} 
.carousel-indicators-size{width:15px;height:15px;}
.custom-container{height:300px;}
.custom-labels{background-color:transparent;border-radius:0px; border:0px; border-bottom: 1px solid white}
.btn-noborder-radius{border-radius:0px;}
.menu-border-bottom{background-color:transparent;border-bottom:2px solid white;}
.color-elements{color:#E96840;}
.custom-menu li{font-size: 12px;padding:0px 0px;}
.btn-custom, .btn-custom:active,.btn-custom:focus, .btn-custom:hover{background-color:#E96840;border-color:#E96840;}

#contact {margin: 0;}
#about p{color:#313131; font-family: 'lucida';}
.prodmap{margin-right:0px;  margin-left:0px;  position: relative;}
#contact {color:#f7f7f7;}
#contact .contact_section {background: #000;padding: 25px 0;}
#contact .fa{padding-right: 31px; color:#E96840 ;}
#follow-us {overflow: hidden;}
#myCarousel li{transform:rotateZ(45deg);}
#footer {width:100%;font-size:12px;color:#1E1E1E;}
.social-icons{color:#fff;font-size:24px;}


.list-social-icons {display: inline-block; vertical-align: middle;}
.list-social-icons li {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}

.list-social-icons li:nth-child(1) {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #42C0FB;}
.list-social-icons li:nth-child(1):hover {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #fff; }
.list-social-icons li:nth-child(2) {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #42C0FB;}
.list-social-icons li:nth-child(2):hover {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #fff;}
.list-social-icons li:nth-child(3) {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #F9263E;}
.list-social-icons li:nth-child(3):hover {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #fff;}
.list-social-icons li:nth-child(4) {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #42C0FB;}
.list-social-icons li:nth-child(4):hover {margin: 0px 15px;width: 40px;height: 40px;text-align: center;line-height: 40px;border-radius: 50%;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background: #fff;}

/*.list-social-icons li:hover {background:#42C0FB;}*/
.list-social-icons li:hover .social-icons {color:#f7f7f7;}
.list-social-icons li:hover .social-icons:nth-child(1) {color:#42C0FB;}

.list-social-icons li:active .social-icons {background:#E96840;}

.sidebar-padding{padding-top: 20px;}


.comments-padding{padding-left:40px;}
.hr-post{border-bottom: 1px solid #2f2f2f;width:100px;}
.btn-custom  {width:100%;background-color:#E96840;border:1px solid #E96840;text-transform: uppercase;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}
.btn-custom:hover {background-color:transparent;border:1px solid #E96840;color:#fff;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, 
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, 
.uneditable-input:focus {   border-color: none;  box-shadow: none;  outline: 0 none; }
select:focus {outline-color: transparent;}
.form-control{color:#f7f7f7;}
.form-control::-moz-placeholder{color:#f7f7f7;opacity:1}.form-control:-ms-input-placeholder{color:#f7f7f7;}.form-control::-webkit-input-placeholder{color:#f7f7f7;}
.form-control:focus{border-color:#E96840;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
img.displayed{display: block;margin-left: auto;margin-right: auto;background-color:transparent;}
.img-products{position:center;}
.navbar-inverse { background-color: #000000; opacity: 1; font-size:15px; padding-top:16px;  padding-bottom:16px }
.navbar-inverse .navbar-nav>li>a{    font-weight: bold;color: #A5955C;font-size: 20px;text-transform: capitalize;font-family: 'gothic', serif;padding-bottom: 6px;padding-right: 10px;text-decoration: none;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s; ;}
.navbar-inverse .navbar-nav>li>a {     font-weight: bold;color: #A5955C;font-size: 20px;text-transform: capitalize;padding-bottom: 6px;padding-right: 10px;font-family: 'gothic';text-decoration: none;}
.navbar-inverse .navbar-nav li { margin-left:15px; text-transform: capitalize; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{font-size: 20px; color: #887E5A;background-color: transparent; text-transform: capitalize; border-bottom: 3px solid #887E5A;  margin-bottom: 0px;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
.navbar-inverse .navbar-nav>li>a:hover { color:#887E5A; border-bottom: 3px solid #887E5A;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
.navbar-inverse .navbar-nav>li>a:active { border-bottom: 3px solid #A5955C;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
.navbar-inverse { border:none; }
.navbar-right{margin-right: 0;}
.navbar-brand img{margin-top: -17px;width: 50px;display: inline;margin-right: 12px; }
.navbar-brand p{display: inline;color: #fff;font-family: 'lucida';font-size: 30px;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #9E9A90;
    background-color: #080808;}
.navbar-nav>li>.dropdown-menu {margin-top: 0;border-top-left-radius: 0;border-top-right-radius: 0;background-color: #000;}
.dropdown-menu>li{margin-right: 15px;}
.dropdown-menu>li>a:hover{font-size: 20px; color: #887E5A;background-color: transparent; text-transform: capitalize; border-bottom: 2px solid #887E5A;  margin-bottom: 0px;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
.dropdown-menu>li>a {display: block;clear: both;line-height: 1.42857143;white-space: nowrap;  font-weight: bold;color: #A5955C;font-size: 20px;text-transform: capitalize;padding:10px;font-family: 'gothic';text-decoration: none;}

@media only screen and (max-width:767px) { .navbar-collapse{ border:none; } .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover { border:none; } .navbar-inverse .navbar-nav>li { border-bottom:1px solid #bd502f; } .navbar-inverse .navbar-nav>li:hover { border-bottom:1px solid #FFF;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; } .navbar-inverse .navbar-nav>li>a:hover { color:#FFF; border:none; } }

#home{}
#home .slider{}
#home .item{}
#home .item img{width: 100%;height: 500px;}

 @media screen and (min-width:768px){.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{width:30px;height:30px;margin-top:-15px;font-size:30px}.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{margin-left:-15px}.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{margin-right:-15px} .carousel-caption{right:20%;left:20%;padding-bottom:30px} }
@media only screen and (max-width:767px) {.height-contact-element {margin:25px 0;} }
@media only screen and (max-width:767px) {.padding-contact-element {padding-left:15px;} }

.mouse-icon { background: none; border: 2px solid; border-radius: 15px; bottom: 0px; height: 44px; left: 0; margin: 0 auto; position: absolute; right: 0; width: 30px; cursor: pointer; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; }
.mouse-icon:hover{ opacity: 0.8 !important; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; }
.mouse-icon .wheel { -webkit-animation: 1.7s ease 0s normal none infinite magic-mouse-icon; -moz-animation: 1.7s ease 0s normal none infinite magic-mouse-icon; -o-animation: 1.7s ease 0s normal none infinite magic-mouse-icon; animation: 1.7s ease 0s normal none infinite magic-mouse-icon; border-radius: 30%; background:#fff; height: 12px; left: 0; margin-left: auto; margin-right: auto; margin-top: 6px; right: 0; width: 6px; }
@-moz-keyframes magic-mouse-icon { 0% { margin-top: 6px; opacity: 0;} 30% { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
@-webkit-keyframes magic-mouse-icon { 0% { margin-top: 6px; opacity: 0;} 30% { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
@-o-keyframes magic-mouse-icon { 0% { margin-top: 6px; opacity: 0;} 30%  { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
@keyframes magic-mouse-icon { 0%   { margin-top: 6px; opacity: 0;} 30%  { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background-color: #bd502f; }

.searchbar { max-width: 270px; }
.media-object { max-width: 80px; }
.media-body { color:#9d9d9d; }
.media-heading a { color:#313131; font-size:16px; }
.media-heading a:hover { color:#E96840; text-decoration: none; }
.media { border-bottom: 1px solid #f2f2f2; padding-bottom:12px; }
.media a:hover > img { filter: brightness(70%) !important;  -webkit-filter: brightness(70%); -moz-filter: brightness(70%); -o-filter: brightness(70%); -ms-filter: brightness(70%);-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {	background-color:#E96840; border-color: #ddd; }
 .page-header { font-size: 25px; padding-bottom:18px; text-transform: uppercase; }

.singlepost { margin-bottom:60px; }
.singlepost a{ color:#E96840;}
.singlepost a:hover {color:#9d9d9d;}
.entry-meta { padding:6px 0px; color:#9f9f9f; font-size:12px;}
.entry-meta span { margin-right:10px; }
.entry-meta a { color:#E96840; }
.entry-meta a:hover { color:#313131; text-decoration: none; }
@media only screen and (min-width:767px){.entry-meta { color:#9f9f9f; font-size:12px; } .entry-meta span { color:#9f9f9f; font-size:12px; } }
.singlepost img:hover { filter: brightness(70%) !important;  -webkit-filter: brightness(70%); -moz-filter: brightness(70%); -o-filter: brightness(70%); -ms-filter: brightness(70%);-webkit-transition:0.5s;  transition: 0.5s; transition-timing-function: ease; cursor: pointer; }
.btn-twitter { background: #00acee; border-radius: 0; color: #fff }
.btn-twitter:link, .btn-twitter:visited { color: #fff }
.btn-twitter:active, .btn-twitter:hover { background: #0087bd; color: #fff }
.btn-facebook { background: #3b5998; border-radius: 0; color: #fff}
.btn-facebook:link, .btn-facebook:visited { color: #fff }
.btn-facebook:active, .btn-facebook:hover { background: #30477a; color: #fff }
.btn-googleplus { background: #e93f2e; border-radius: 0; color: #fff }
.btn-googleplus:link, .btn-googleplus:visited { color: #fff }
.btn-googleplus:active, .btn-googleplus:hover { background: #ba3225; color: #fff }
.btn-stumbleupon { background: #f74425; border-radius: 0; color: #fff }
.btn-stumbleupon:link, .btn-stumbleupon:visited { color: #fff }
.btn-stumbleupon:active, .btn-stumbleupon:hover { background: #c7371e; color: #fff }
.btn-linkedin { background: #0e76a8; border-radius: 0; color: #fff }
.btn-linkedin:link, .btn-linkedin:visited { color: #fff }
.btn-linkedin:active, .btn-linkedin:hover { background: #0b6087; color: #fff }
.btn-sitename { background-color: #000; border-radius: 0; color: #fff }
.btn-sitename:link, .btn-sitename:visited { color: #fff }
.btn-sitename:active, .btn-sitename:hover { background-color: #000; color: #fff }
.mysharing { margin-top:40px; }
.mysharing .btn { font-size:12px; padding: 4px 8px; margin-right:4px; }
.comments1 { margin-top:60px; }
.comments1 .media-heading  { color:#313131; font-size:16px; }
.comments1 .media-object { max-width: 60px; }
.btn-primary { background-color: #E96840;  border:none; }
.btn-primary:hover { background-color: #2D2D2D;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
@media only screen and (min-width:768px) and (max-width: 980px) { 
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
 font-size:14px; } .navbar-inverse .navbar-nav>li>a { font-size:13px; margin-right:3px; padding-left:0px; } }
@media only screen and (max-width:767px) { .searchbar { max-width: 100%; } .navbar-inverse .navbar-toggle { border-color:#e6e6e6; } .portfolio-item { margin-bottom:30px; } }
#toTop{ position: fixed; bottom: 38px; right: 10px;	cursor: pointer; display: none; }
.color1 { background-color: #505050; }
.color1:hover { background-color: #353535; }
a, a:visited, a:focus, a:active, a:hover{ outline:0 none !important; }

figure.effect-oscar { background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%); background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%); }
figure.effect-oscar img { opacity: 0.9;	-webkit-transition: opacity 0.35s; transition: opacity 0.35s; }
figure.effect-oscar figcaption { padding: 3em; background-color: rgba(58,52,42,0.7); -webkit-transition: background-color 0.35s; transition: background-color 0.35s; }
figure.effect-oscar figcaption::before { position: absolute; top: 30px;	right: 30px; bottom: 30px; left: 30px; border: 1px solid #fff;
	content: ''; }
figure.effect-oscar h2 { margin: 20% 0 10px 0; -webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s; -webkit-transform: translate3d(0,100%,0);	transform: translate3d(0,100%,0); }
figure.effect-oscar figcaption::before, figure.effect-oscar p { opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(0); transform: scale(0);}
figure.effect-oscar:hover h2 { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
figure.effect-oscar:hover figcaption::before, figure.effect-oscar:hover p {	opacity: 1;	-webkit-transform: scale(1); transform: scale(1); }
figure.effect-oscar:hover figcaption { background-color: rgba(58,52,42,0); }
figure.effect-oscar:hover img {	opacity: 0.4; }

.hvr-bounce-to-bottom:before { content: ""; position: absolute;  z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #2D2D2D;
  -webkit-transform: scaleY(0);  transform: scaleY(0);  -webkit-transform-origin: 50% 0;  transform-origin: 50% 0;  -webkit-transition-property: transform;  transition-property: transform;  -webkit-transition-duration: 0.5s;  transition-duration: 0.5s;  -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active { color: white; }
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before { -webkit-transform: scaleY(1); transform: scaleY(1); -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

.port2 { margin:0px;  padding:0px;  max-width: 100%; }
.port3 { width: 33%; min-width: 240px; display: inline-block; margin:0px 0px 7px 0px;  padding:0px; }
.port3 img { width: 99%; min-width: 240px; max-width:380px; cursor: pointer;}
.port3 img:hover { filter: brightness(70%) !important;  -webkit-filter: brightness(70%); -moz-filter: brightness(70%); -o-filter: brightness(70%); -ms-filter: brightness(70%);-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
ul.nav-pills  { text-align: center; margin: 25px auto 20px auto; width: auto; display: table; }
.nav-pills>li { float:none; text-align: center; display: table-cell; margin:0px; vertical-align: bottom; }
.nav-pills>li a { color:#333; border-radius:0px; text-align: center; font-weight: bold; padding: 10px 8px; border-bottom: 2px solid #E96840; }
.nav>li>a:focus, .nav>li>a:hover { color:#FFF; background-color: #E96840; }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { background-color: #E96840; color:#FFF; }
.nav-pills>li+li { margin:0px; }
.modal-dialog { height: 100%; width: 100%; display: flex; align-items: center; }
.modal-content { margin: 0 auto;  max-width: 80%;  max-height: 80%; }
.nav li a { text-transform: capitalize; }
#about h2, #services h2, #bloghome h2, #follow_us h2, #portfolio1 h2, #contact h2, #home h3 { text-transform: capitalize; color: #fff; font-family: 'oet';}
@media screen and (max-width: 768px) {
.navbar-inverse .navbar-nav li { margin-right:15px; }
.team-img img { margin-left:auto; margin-right:auto; width:90%; }
.port3 { width: 99%; min-width: 240px; display: inline-block; margin:0px 0px 7px 0px; padding:0px; }
.port3 img { width: 100%; min-width: none; max-width:none; cursor: pointer;}
}
@media screen and (min-width: 769px) and (max-width: 1140px) {
.port3 { width: 49.5%; min-width: 240px; padding:0px; }
.port3 img { width: 100%;  min-width: none; max-width:475px; cursor: pointer; }
}
.nav-pills .active { background-color: #E96840; color:#FFF; }
.contact-msg { line-height:1.6em; margin-bottom:20px;}



/*========================*/

section#about{}
#about .about_container{background: #000;padding-top: 50px;padding-bottom: 20px;}
#about .about_container .about_camera_img{margin-top: 30px;}
#about .about_container .about_camera_img img{width: 80%; height: 256px;}
#about .about_container .about_camera_content{margin-top: 30px;}
#about .about_container .about_camera_content a{    font: 400 18px/24px 'gothic';color: #fff;-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;-moz-transition: all 0.3s ease;}
#about .about_container .about_camera_content a:hover{    opacity: 0.5;
    color: #ffffff;}
#about .about_container .about_camera_content p{ color: #fff;text-align: left;margin-top: 50px;}
#about .about_container .biography_section{margin: 30px 0;}
#about .about_container .biography_section h3{text-align: left;
    color: #fff;
    text-transform: capitalize;font-family: 'oet';}
#about .about_container .biography_section h4{text-align: left;}
#about .about_container .biography_section h4 a{font: 400 18px/24px 'gothic', sans-serif;color: #fff;-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;-moz-transition: all 0.3s ease;}
#about .about_container .biography_section h4 a:hover{opacity: 0.5;
    color: #ffffff;}
#about .about_container .biography_section p{line-height: 30px; text-align: left;    font: 400 14px/24px 'Quattrocento Sans', sans-serif;
    color: #ffffff;}
#about .about_container .testimonials_section{margin: 30px 0;}
#about .about_container .testimonials_section h3{text-align: left;
    color: #fff;
    text-transform: capitalize;font-family: 'oet';}
#about .about_container .testimonials_section p{text-align: left;    font: 400 14px/24px 'gothic', sans-serif;
    color: #ffffff;}
#about .about_container .services_section{margin: 30px 0;}
#about .about_container .services_section h3{text-align: left;
    color: #fff;
    text-transform: capitalize;font-family: 'oet';}
#about .about_container .services_section ul{list-style: none;padding: 0;}
#about .about_container .services_section ul li{    text-align: left;
    border-bottom: 1px solid #544D4D;
    line-height: 40px;}
#about .about_container .services_section ul li a{font: 400 18px/24px 'gothic', sans-serif;color: #fff;-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;-moz-transition: all 0.3s ease;}
#about .about_container .services_section ul li a:hover{opacity: 0.5;
    color: #ffffff;}

#work{overflow: hidden;}    
#work .work_section{background:#000;overflow: hidden;}    
#work .work_section .work_section_content{margin: 40px 0;}    
#work .work_gallery{    width: 100%;
    background-color: #292929;
    position: relative;
    height: 284px;
    opacity: .5;
    padding: 9px;
    margin: 13px 0px;} 
#work .work_gallery .p2{position: absolute;top: 58px;display: block;width: 100%;text-align:center;font: 400 24px/24px 'gothic', sans-serif;color: #ffffff;}    
 
   
#work .work_gallery .add_see_more{position: absolute;top: 140px;left: 53%;margin-left: -85px;display: inline-block;font: 400 12px/38px 'gothic', sans-serif;color: #fff;text-align: center;border: solid 3px #ffffff; border-radius:0; position: relative;padding: 0px;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;z-index: 5;width: 150px;text-transform: uppercase;}    
#work .work_gallery .add_see_more:hover{color: #000;} 
#work .work_gallery .add_see_more:after{content: "";width: 100%;height: 0px;position: absolute;bottom: 0;left: 0;background: #ffffff;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;z-index: -1;}  
#work .work_gallery .add_see_more:hover:after{      content: "";width: 100%;height: 100%;position: absolute;bottom: 0;left: 0;background: #ffffff;}   





#contact .fa{padding-right: 5px;}
#contact .marker{background-color: #fff; cursor:pointer;color: #000;padding-left: 10px;padding-right: 10px;border-radius: 6px;}
#contact .marker:hover{background: #1A1715;color: #fff;}
#contact .phone{background-color: #fff; cursor:pointer;color: #000;padding-left: 8px;padding-right: 8px ;border-radius: 6px;}
#contact .phone:hover{background: #1A1715;color: #fff;}
#contact .envelope{background-color: #fff ;color: #000;padding-left: 7px;padding-right: 7px;border-radius: 6px; cursor: pointer;}
#contact .envelope:hover{background: #1A1715;color: #fff;}
#contact .globe{background-color: #fff;color: #000;padding-left: 8px;padding-right: 8px;border-radius: 6px; cursor: pointer;}
#contact .globe:hover{background: #1A1715;color: #fff;}
.contact_subheading{margin-top: 40px;text-transform: capitalize;border-bottom: 1px solid #fff;padding-bottom: 15px;margin-bottom: 23px;}
.form-section{margin-top: 100px ;}

.contact_info{padding: 0;}
.contact_info li{list-style: none;margin: 15px;}
.contact_info li i{font-size: 20px;border: 1px solid #fff;padding: 5px;margin-right: 15px;}
.contact_info li h4{display: inline;}
.contact_info li h4.address-last{margin-left: 50px;}
.contact_info li h4 a{color: red;}
.contact_info li h4 a:hover{color: green;}
.form-group{padding: 0; padding-right: 10px;}
.send{background: #1A1715;color: #fff;margin-right: 10px;border: 1px solid #fff;}
.send:hover{background: #fff; color: #000;}




.form-control{background: #1A1715 ;}
.form-group .verifi_img{background-color: #2D2D2D;border: 2px solid #000;height: 34px;border-radius: 7px;}

#follow_us{}
#follow_us .follow_content{background: #000;}



.myfooter { color: #9d9d9d; padding:10px 0px;background: #1E1E1E;}
.myfooter a { color: #efefef; padding:10px 0px; -webkit-transition:0.5s; transition: 0.5s;  }
.myfooter a:hover { color: #E96840; padding:12px 0px; text-decoration: none; -webkit-transition-timing-function: linear; transition-timing-function: linear;}
