
/*	Medium Layout: 992px. */
@media only screen and ( min-width: 992px ) and ( max-width: 1200px){
	.container {width: 933px;}
	header.carousel{max-height: 400px;}
	.cb-slideshow li div{top: 35px;}
	.cb-slideshow li div h3{font-size: 38px;}
	.homeservices1 .porffolio-item h4 {font-size: 12px;}
	.homeservices1 .porffolio-item {width: 111%;margin: 0;padding: 8px 0px;height: 148px;}
	.modal-content{max-width: 28%;}
	.port3 {width: 32.5%;}
	
}




/*		Tablet Layout: 768px    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	header.carousel{max-height: 400px;}
	.cb-slideshow li div{top: 35px;}
	.cb-slideshow li div h3{font-size: 38px;}
	.modal-content{max-width: 28%;}
	#meet-team .team-img {width: 200px;height: 220px;}
	.port3 {width: 32.5%;}
	.homeservices1 .porffolio-item {width: 28%;float: left;margin: 10px 10px;}
	
}



/*		Mobile Layout: 320px    */

@media only screen and (max-width: 767px) {
	.container{width: 300px;}
	
	
}



/*		Wide Mobile Layout: 480px    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{width: 440px;}
	.team-member{clear: both;float: left;margin: 8px 0px;}
	#meet-team .team-img {width: 145px;height: 180px;clear: both;display: block;}
	#meet-team .team-info h3 {font-size: 13px;}
	#meet-team .team-info p {font-size: 11px;}
	#meet-team li {margin-right: 12px;font-size: 16px;}
	.contact_info li h4 {font-size: 14px;}
	.pull-right{margin: 10px 0px;}
}


