html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 100% Georgia, serif;
  background: #535353 url(../images/pattern.jpg) repeat;
  color: #FFF;}
textarea{
  white-space: normal;
}
p
{ padding: 0 0 15px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Georgia, serif;
  color: #FFF;
  text-shadow: 1px 1px #000;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;}

h2
{ font: normal 165% 'oet';}

h3
{ font: normal 100% 'oet';
}

h3 a, h3 a:hover
{ color: #96B7B7;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 150% 'gothic';
  color: #098EFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% 'gothic';
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: #098EFF;font-family: 'gothic'
}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ width: 1000px;
  height: 55px;padding-top: 40px; padding-bottom: 16px;
  background: transparent;}

#welcome
{ width: 285px;
  float: left;
  height: 30px;
  padding: 5px 0 20px 80px;
  margin: 0 auto;
  background: transparent;} 
  
#welcome H1
{ font: normal 200% 'oet';
  color: #FFF;}
  
span
{ color: #098EFF;}

 
#menubar
{ width: 635px;
  height: 35px;
  text-align: center; 
  margin: 0 auto;
  padding-bottom: 20px;
  float: right;
  background: transparent;} 

ul#menu
{ 
  margin: 0;
  float: right;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font-weight: bold;
    color: #A5955C;
    font-size: 20px;
    padding-bottom: 6px;
    text-transform: capitalize;
    padding-right: 10px;text-decoration: none;} 

ul#menu li a:hover
{     color: #887E5A;
    background-color: transparent;
    border-bottom: 3px solid #887E5A;
    margin-bottom: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;text-decoration: none;
    transition-timing-function: ease;}
  
ul#menu li.active
{color: #887E5A;background-color: transparent; border-bottom: 3px solid #887E5A;  margin-bottom: 0px;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease;padding-bottom: 6px;}

.dropdown-menu {margin-top: 0;border-top-left-radius: 0;border-top-right-radius: 0;background-color: #000;}
.dropdown-menu>li{margin-right: 15px;}
.dropdown-menu>li>a:hover{font-size: 20px; color: #887E5A;background-color: transparent; text-transform: capitalize; border-bottom: 2px solid #887E5A;  margin-bottom: 0px;-webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease; }
.dropdown-menu>li>a {display: block;clear: both;line-height: 1.42857143;white-space: nowrap;  font-weight: bold;color: #A5955C;font-size: 20px;text-transform: capitalize;padding:10px;font-family: 'gothic';text-decoration: none;}
.caret {color: #887E5A;}

#site_content .enviormental_heading{    text-align: center;font-size: 28px;text-transform: capitalize;color: #A58638;}
#site_content
{ width: 1000px;overflow: hidden;min-height: 500px;margin: 0 auto;padding: 20px 0 0 0;background: #1D1D1D;
  /*-webkit-box-shadow: inset 5px 5px 30px 5px #535353;
  -moz-box-shadow: inset 5px 5px 30px 5px #535353;
  box-shadow: inset 5px 5px 30px 5px #535353;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;*/} 
  
#image_container  
{ width: 1000px;}

#text_content
{ float: right;
  width: 435px;
  padding: 0; 
  margin: 0 20px 0 20px;}
  
.static_image
{ float: left;
  width: 500px;
  height: 450px;
  margin: 0 0 20px 20px;}  
  
#footer
{ font: normal 120% Georgia, serif;
  width: 1070px;
  letter-spacing: -1px;
  padding: 28px 0 26px 0;
  text-align: center; 
  background: transparent;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

.footer_container_box
{ font: normal 80% Arial, Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.footer_container_boxl
{ font: normal 80% Arial, Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 0 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  white-space: normal;
}

  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;} 

  /*========= services section start===========*/
#site_content .service_content_container{padding: 20px;}
#site_content .service_content_container p{color: #fff;opacity: .5;font-size: 15px;}
#site_content .service_content_container h3{font-weight: bold;font-size: 21px;}
  /*==========login style start====*/

  #site_content .login_heading{margin-top: 40px; text-align: center;font-size: 28px;text-transform: capitalize;color: #A58638;}
  #site_content form{margin: 140px;margin-top: 70px;}
  #site_content form label{font-size: 15px;font-family: 'lucida';font-style: normal;color: #fff;}
  #site_content form .form-control{width:60%;}

  /*============= System Management style start ============================*/
  #system_management_heading h3{font-size: 20px;color: #A5955C;font-weight: bold;text-align: center;text-transform: capitalize;margin-left: 8px;}
  #site_content{}
  #site_content .system_management_section{}
  #site_content .system_management_section .sm_left_content{width: 100%;overflow: hidden;margin: 0 auto;min-height:460px;margin-bottom: 20px;padding: 20px 0 0px 0;background: #272727;-webkit-box-shadow: inset 5px 5px 30px 5px #535353;-moz-box-shadow: inset 5px 5px 30px 5px #535353;box-shadow: inset 5px 5px 30px 5px #535353;border-radius: 15px 0px 0px 15px;-moz-border-radius: 15px 15px 15px 15px;-webkit-border: 15px 15px 15px 15px;}
  #site_content .system_management_section .sm_left_content ul{list-style: none;padding: 0;}
  #site_content .system_management_section .sm_left_content ul li{padding: 10px 0;}
  #site_content .system_management_section .sm_left_content ul li a{font-size: 18px; color: #A5955C;font-weight: bold;}
  #site_content .system_management_section .sm_left_content ul li a.btn{padding: 0;}
  #site_content .system_management_section .sm_left_content .well {width: 90%;background: #272727;border: 0; -webkit-box-shadow: inset 5px 5px 30px 5px #535353;-moz-box-shadow: inset 5px 5px 30px 5px #535353;box-shadow: inset 5px 5px 30px 5px #535353;border-radius: 15px 15px 15px 15px;-moz-border-radius: 15px 15px 15px 15px;-webkit-border: 15px 15px 15px 15px;}
  #site_content .system_management_section .sm_left_content ul li a:hover{color: #fff;opacity: .5;}
  #site_content .system_management_section .sm_left_content ul li.active{text-decoration: none;color: #fff;opacity: .5;}



  #site_content .system_management_section .sm_right_content{width: 80%;float:left;overflow: hidden;min-height:460px;margin: 0 auto;margin-bottom: 20px;padding: 20px 0 0px 0;background: #272727;-webkit-box-shadow: inset 5px 5px 30px 5px #535353;-moz-box-shadow: inset 5px 5px 30px 5px #535353;box-shadow: inset 5px 5px 30px 5px #535353;border-radius: 0px 15px 15px 0px;-moz-border-radius: 15px 15px 15px 15px;-webkit-border: 15px 15px 15px 15px;}
  #site_content .system_management_section .sm_right_content h2{text-align: center;margin: 80px 0;font-size: 50px;text-transform: capitalize;color: #A5955C;font-weight: bold;}

  /*========== slider sm section =====================*/

  #site_content .system_management_section .slider_right_content{width: 80%;float:left;overflow: hidden;min-height:460px;margin: 0 auto;margin-bottom: 20px;padding: 20px 0 0px 0;background: #272727;-webkit-box-shadow: inset 5px 5px 30px 5px #535353;-moz-box-shadow: inset 5px 5px 30px 5px #535353;box-shadow: inset 5px 5px 30px 5px #535353;border-radius: 0px 15px 15px 0px;-moz-border-radius: 15px 15px 15px 15px;-webkit-border: 15px 15px 15px 15px;}
  #site_content .system_management_section .slider_right_content .form-control{width: 100%;}

  /*=========== Services section=============*/
  .slider_right_content .table_section{position: relative;margin-top: 50px;}
  .slider_right_content .table_section table img {border: 0;width: 60px;height: 50px;}
  .slider_right_content .table_section table tr{color: #000;font-size: 15px;}
  .slider_right_content .table_section .id_section{width: 1%;}
  .slider_right_content .table_section .position_section{width: 1%;}
  .slider_right_content .table_section .name_section{width: 20%;}
  .slider_right_content .table_section table tr th{}

  /*============enviormental========*/
   .slider_right_content .table_section .fagetnation{text-align: center; margin-bottom: 20px;}
   #site_content .system_management_section .sm_left_content .well ol.active{text-decoration: none;color: #fff;opacity: .5;}

.modal-content{width:100%;overflow: hidden;min-height:460px;margin: 0 auto;margin-bottom: 20px;padding: 20px 0 0px 0;background: #272727;-webkit-box-shadow: inset 5px 5px 30px 5px #535353;-moz-box-shadow: inset 5px 5px 30px 5px #535353;box-shadow: inset 5px 5px 30px 5px #535353;border-radius: 15px 15px 15px 15px;-moz-border-radius: 15px 15px 15px 15px;-webkit-border: 15px 15px 15px 15px;}
.modal-header {border-bottom: 1px solid #5F5757;}

.modal-footer { border-top: 1px solid #5F5757;}    

.message_alert{font-size: 18px;background: #292929;margin: 0px auto;padding: 5px 14px;width: 80%;border-radius: 5px;margin-bottom: -20px;margin-top: 20px;}
.green{color: #4FE09E;border: 2px solid #4FE09E;}
.red{color: #FF1616;border: 2px solid #FF1616;}
.message{color: #F33564;font-size: 16px;}

/*==========upload_img=============*/
.upload_img{width: 100px; height: auto;}
.thumbs img {width: 80px;height: 85px;}
div.slideshow-container img {width: 950px;height: 450px;}
div.ss-controls {font-size: 22px;top: 15px;right: 16px;position: absolute;display: block;}